body {
    color: #333;
    width: 80%;
    margin: auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.judge {
    display: flex;
    justify-content: center;
    width: 100%;
}

.twitter-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
}